/*stuffs needed, i.e variables to use multiple times and page setup*/
:root {
    font-size: 16px;
    --cardBoxBG: #85E3FF;
    --titleBoxBG: #FFABAB;
}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    grid-row-gap: 20px;
    margin-left: 5rem;
}

/*content stuffs*/
.TitleBox {
    display: flex;
    min-height: 75px;
    background-color: var(--titleBoxBG);
}

.AboutBox {
    height: 25vh;
    min-height: 500px;
    background-color: var(--cardBoxBG);

    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    grid-column-gap: 20px;
}
.CardBox {
    width: 100%;
    overflow-y: hidden;
    background-color: var(--cardBoxBG);
    display: flex;
}

.ProfileImage{
    background-color: #Aff8DB;
}
.AboutDesc {
    background-color: #DCD3FF;
}